<div id="demopage" class="page">
    <div id="side-panel-closed">
        <h3 id="side-panel-expand">
            <a ng-click="openSystemPanel()">Planets >></a>
        </h3>
            
    </div>
    <div id="side-panel">
         <h3 id="side-panel-header"><strong style="color:#FFF;">XOPL</strong> - Exoplanet Visualization <a style="float:right;cursor:pointer;" ng-click="closeSystemPanel()"><<</a></h3>
         <div class="inner">

             <h4 style="margin-top:30px;">Choose a System to View</h4>
             <p>Select a stellar system from the list to view a simulation of it, and explore the planets within</p>

             <h5>Search</h5>
             <form class="form-inline">
                 <div class="input-append">
                     <input type="text" class="span4" ng-model="query">
                     <button class="btn btn-primary" type="button">Search</button>
                     <button class="btn" type="button" ng-click="setRandomSystem()">Random</button>
                 </div>
             </form>
             <table id="systems-table" class="table table-striped">
                 <thead>
                     <tr>
                         <th ng-click="setOrder('name')">System Name</th>
                         <th ng-click="setOrder('planets.length')"># Planets</th>
                         <th ng-click="setOrder('st_dist')">Distance (ly)</th>
                     </tr>
                 </thead>
                 <tbody>
                    <tr ng-repeat="system in systems | filter:query | orderBy:orderProperty:reverse | startFrom:currentPage*pageSize | limitTo:pageSize" ng-click="setActiveSystem(system,true)" ng-class="{active: isTarget(system)}">
                        <td width="300">{{system.name}}</td>
                        <td width="100">{{system.planets.length}}</td>
                        <td width="100">{{system.st_dist || "n/a"}}</td>
                    </tr>
                 </tbody>
             </table>
             <button class="btn" ng-disabled="currentPage == 0" ng-click="setPage(0)">First</button>
             <button class="btn" ng-disabled="currentPage == 0" ng-click="setPage(currentPage -1)">Previous</button>
             <span>
                 {{getCurrentPage()}} / {{numberOfPages()}}
             </span>
             <button class="btn" ng-disabled="currentPage + 1 == numberOfPages()" ng-click="setPage(currentPage + 1)">Next</button>
             <button class="btn" ng-disabled="currentPage == numberOfPages() - 1" ng-click="setPage(numberOfPages() - 1)">Last</button>
         </div>
    </div>
    <div id="side-right-panel">
        <h3 id="side-right-panel-header"><a style="cursor:pointer;margin-right:30px;" ng-click="closeOptionsPanel()">>></a>Options and Settings</h3>
        <div class="inner">

            <h4>Navigation</h4>
            <div class="btn-group">
                <a href="/" class="btn">Home</a>
                <a href="/learn" class="btn">Learn More</a>
                <a href="/about" class="btn">About</a>
                <a href="/" class="btn">Help</a>
            </div>
            <hr>

            <h4>Cameras</h4>
            <p>Camera Mode: {{cameraMode}}</p>
            <div class="btn-toolbar">
                <div class="btn-group" data-toggle="buttons-radio">
                    <button ng-click="setCameraMode('Target')" id="camtargetbtn" data-title="Target Mode" data-content="Target Mode allows you to move in rotation around a focused target. Makes it easy to stay focused on moving objects." class="btn btn-large active"><i class="icon-screenshot"></i></button>
                    <button ng-click="setCameraMode('Free')" id="freeflybtn" class="btn btn-large" data-title="Free Fly Mode" data-content="Free Fly Mode gives you the ability to pilot your camera like a space ship with 6 degrees of freedom."><i class="icon-user"></i></button>
                    <button ng-click="setCameraMode('Cinematic')" id="cinematicbtn" data-title="Cinematic Mode" data-content="Cinematic Mode lets you lean back as the camera explores the system for you in a cinematic experience." class="btn btn-large"><i class="icon-facetime-video"></i></button>
                </div>
                <button class="btn btn-large btn-primary">Recenter On Star</button>
            </div>

            <p>Auto Reposition</p>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button class="btn btn-large" ng-click="setCamera(1)">Front</button>
                    <button class="btn btn-large" ng-click="setCamera(2)">Top</button>
                    <button class="btn btn-large" ng-click="setCamera(3)">Side</button>
                    <button class="btn btn-large" ng-click="setCamera(4)">Quarter</button>
                </div>
            </div>

            <hr>
            <h4>Time Control:</h4>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button class="btn btn-large" ng-click="setSpeed('backward')"><i class="icon-backward"></i></button>
                    <button class="btn btn-large" ng-click="setSpeed('toggle')"><i ng-class="pauseIcon"></i></button>
                    <button class="btn btn-large" ng-click="setSpeed('forward')"><i class="icon-forward"></i></button>
                    <span id="timelabel" class="label label-info">{{playingText}} at {{speeds[speedInd]}}x Speed</span>
                </div>
            </div>

            <hr>
            <h4>Options:</h4>

            <hr>
            <h4>Graphics:</h4>
            
        </div>
    </div>
    <div id="side-right-panel-closed">
        <h3 id="side-right-panel-expand">
            <a ng-click="openOptionsPanel()"><< More</a>
        </h3>
            
    </div>
<!--     <div id="info-overlay">
    <h1>Target Name</h1>
    <ul>
        <li><strong>Attr:</strong>1</li>
        <li><strong>Attr:</strong>2</li>
        <li><strong>Attr:</strong>3</li>
        <li><strong>Attr:</strong>4</li>
        <li><strong>Attr:</strong>5</li>
    </ul>
</div> -->
    <div id="render-container"></div>
</div>