<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="app/css/normalize.css">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="app/css/fonts.css">
        <link rel="stylesheet" href="app/css/main.css">
        <script src="/app/lib/three.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        
        <div class="loader">
            <div class="loader-icon"></div>
            <div class="loader-text">
                Loading...
            </div>
        </div>
        <div class="fadebg"></div>
        <div id="demopage">
            <div id="side-panel-open">
                 <h3 id="side-panel-header"><strong style="color:#FFF;">XOPL</strong> - Exoplanet Visualization</h3>
                 <div class="inner">
                     <h4 style="margin-top:30px;">Choose a System to View</h4>
                     <p>Select a stellar system from the list to view a simulation of it, and explore the planets within</p>
                     <table class="table table-striped">
                         <thead>
                             <tr>
                                 <th>System Name</th>
                                 <th># Planets</th>
                                 <th>Distance (ly)</th>
                                 <th>Smallest Planet</th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr class="active">
                                 <td>random</td>
                                 <td>3</td>
                                 <td>1.5</td>
                                 <td>1.3</td>
                             </tr>
                             <tr>
                                 <td>11 Com</td>
                                 <td>5</td>
                                 <td>1.2</td>
                                 <td>1.4</td>
                             </tr>
                             <tr>
                                 <td>HP Hippa</td>
                                 <td>1</td>
                                 <td>5.0</td>
                                 <td>4.0</td>
                             </tr>
                             <tr>
                                 <td>11 Com</td>
                                 <td>5</td>
                                 <td>1.2</td>
                                 <td>1.4</td>
                             </tr>
                             <tr>
                                 <td>HP Hippa</td>
                                 <td>1</td>
                                 <td>5.0</td>
                                 <td>4.0</td>
                             </tr>
                         </tbody>
                     </table>
                 </div>
            </div>
        </div>
        <!-- <script src="/app/js/main.js"></script> -->
    </body>
</html>