<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>XOPL - Exoplanet Visualization</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="app/css/normalize.css">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="app/css/fonts.css">
        <link rel="stylesheet" href="app/css/main.css">
        <script src="/app/lib/three.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        
        <div class="loader">
            <div class="loader-icon"></div>
            <div class="loader-text">
                Loading...
            </div>
        </div>
        <div class="fadebg"></div>
        <div id="homepage">
            <div id="playStore">
                Coming soon to...<br>
                <img src="/app/img/googleplay.png" width="143" height="45" alt="Coming Soon to Google Play Store">
            </div>
            <div id="home-banner">
                <img src="/app/img/logo.png" width="438" height="396" alt="">
                <h1>Humanity has discovered <strong>{{{planets}}} planets</strong> around <strong>{{{stars}}} stars</strong> in our universe.</h1>
                <div class="xopl-btn-group">
                    <a href="#" id="start-app-btn" class="xopl-btn xopl-btn-primary">Travel to Them</a>
                    <a href="/learn" id="learn-more-btn" class="xopl-btn">Learn How We Did It</a>
                </div>
            </div>
        </div>
        <script src="/app/lib/jquery.js"></script>
        <script>
            $(document).ready(function(){
                $('#homepage').css('opacity',1);
            });
            
            $('#start-app-btn').click(function(e){
                e.preventDefault();
                $('#homepage').css('top','-1000px');
                $('.fadebg').show().delay(4000).fadeOut();
                $('.loader').show().delay(4000).fadeOut();
            });
        </script>
        <!-- <script src="/app/js/main.js"></script> -->
    </body>
</html>